@model BookLibraryApi.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Library Control Panel</h1>

<h2>Book details</h2>

<div>
    <ul class="list-group">
        <li class="list-group-item"><span class="bold">Title:</span> @Model.Title</li>
        <li class="list-group-item"><span class="bold">Author:</span> @Model.Author</li>
        <li class="list-group-item"><span class="bold">Genre:</span> @Model.Genre</li>
        <li class="list-group-item"><span class="bold">Year of publication:</span> @Model.PublicationYear</li>
        <li class="list-group-item"><span class="bold">Description:</span> @Model.Description</li>
        <li class="list-group-item">
            <span class="bold">Available For Loan:</span>  @if (Model.IsAvailableForLoan)
            {
                <span>Yes</span> <span class="bg-success text-white p-1 d-inline-block rounded-circle" style="width: 10px; height: 10px;"></span>
            }
            else
            {
                <span>No</span> <span class="bg-danger text-white p-1 d-inline-block rounded-circle" style="width: 10px; height: 10px;"></span>
            }
        </li>
    </ul>
    <a href="@Url.Action("Edit", new { id = Model.BookId })" class="btn btn-success">Edit</a>
    <a href="@Url.Action("Delete", new { id = Model.BookId })" class="btn btn-danger">Delete</a>

</div>