@model IEnumerable<BookLibraryApi.Models.Book>

@{
    ViewData["Title"] = "Index";
    string height = "100px";
}


<div style="display: flex;">
    <!-- First div with buttons -->
    <div style="margin-right: 20px;">
        <h1>Library Control Panel</h1>

        <form asp-controller="Book" asp-action="Search" method="get">
            <input type="text" name="searchString" style="height:contain;" placeholder="Search for a book" />
            <button type="submit" class="btn btn-outline-success">Search</button>
            <button type="submit" class="btn btn-secondary">Reset</button>
        </form>
        <button type="button" onclick="location.href='@Url.Action("Create", "Book")'" class="btn btn-success">Create Book</button>
    </div>

    <!-- Second div with image -->
    <div style="flex: 1;">
        <img src="https://images.unsplash.com/photo-1569511166187-97eb6e387e19?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1820&q=80"
             style="width: 100%; height: @height; object-fit: cover; overflow: hidden; border-radius: 5px; opacity: 0.9;" />
    </div>
</div>



<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Release</th>
            <th>Available for loan</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="tr-@item.BookId">
                <td>@item.BookId</td>
                <td>@item.Title</td>
                <td>@item.Author</td>
                <td>@item.Genre</td>
                <td>@item.PublicationYear</td>
                <td>
                    @if (item.IsAvailableForLoan)
                    {
                        <span>Yes</span> <span class="bg-success text-white p-1 d-inline-block rounded-circle" style="width: 10px; height: 10px;"></span>
                    }
                    else
                    {
                        <span>No</span> <span class="bg-danger text-white p-1 d-inline-block rounded-circle" style="width: 10px; height: 10px;"></span>
                    }
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BookId }) |
                    <a class="text-danger delete-link" id="@item.BookId"
                       href='javascript:void(0);'
                       onclick="confirmDelete('@item.BookId', '@Url.Action("Delete", "Book", new { id = item.BookId })')"
                       onmouseover="highlightRow(this.id)"
                       onmouseout="unhighlightRow(this.id)">Delete</a>


                </td>
            </tr>
        }
    </tbody>

  
</table>

<script>
    function highlightRow(bookId) {
        var row = document.getElementById('tr-' + bookId);
        if (row) {
            row.style.backgroundColor = 'rgba(255, 0, 0, 0.2)';
        }
    }

    function unhighlightRow(bookId) {
        var row = document.getElementById('tr-' + bookId);
        if (row) {
            row.style.backgroundColor = '';  // Reset to original color
        }
    }

    function confirmDelete(bookId, deleteUrl) {
        var isConfirmed = window.confirm('Are you sure you want to delete this book?');
        if (isConfirmed) {
            window.location.href = deleteUrl;
        }
    }
</script>
